[Unit]
Description=CAM-Stream
After=network.target

[Service]
Type=simple
User=pi
PermissionsStartOnly=true

Restart=always
RestartSec=5

#ExecStartPre =-/bin/bash /home/pi/CAM_Stream/connect_to_network.sh
ExecStart    =/bin/bash /home/pi/CAM_Stream/stream.sh

[Install]
WantedBy=multi-user.target
